h4 {
  margin: 0px;
}

input {
  width: 80%;
  padding: 8px 4px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-area {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: 2px solid #ddd; */
}

.product-input {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
  border: 2px solid #ddd;
  /* border-bottom: 2px solid #ccc; */
  /* padding: 8px 0; */
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px 0;
}

.add-remove-btn {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.add-products-btn {
  display: flex;
  width: 20%;
}

.add-products-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 2rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.add-products-btn span:hover {
  background-color: #3c8d3f;
}
