* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.select-product-section {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 2px solid #ddd;
}

.product-list-section {
  width: 50%;
}

.product-entry-section {
  display: flex;
  width: 25%;
}
